<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- Permission required for NotificationListenerService -->
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />

    <application
        android:name=".core.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolumeMixerPanel"
        tools:targetApi="34">

        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VolumeMixerPanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.AppSettingsActivity"
            android:exported="false"
            android:label="@string/app_settings_label"
            android:theme="@style/Theme.VolumeMixerPanel" />

        <!-- SetupActivity declaration added -->
        <activity
            android:name=".setup.SetupActivity"
            android:exported="false"
            android:theme="@style/Theme.VolumeMixerPanel" />

        <activity
            android:name=".actions.ShortcutActivity"
            android:exported="true"
            android:label="@string/create_shortcut_label"
            android:theme="@style/Theme.VolumeMixerPanel.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".actions.ShortcutProxyActivity"
            android:exported="true"
            android:theme="@style/Theme.VolumeMixerPanel.Transparent"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="volumemixerpanel.action.SHOW_OVERLAY" />
                <action android:name="volumemixerpanel.action.HIDE_OVERLAY" />
                <action android:name="volumemixerpanel.action.TOGGLE_OVERLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".overlay.OverlayService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- New NotificationListenerService declaration -->
        <service
            android:name=".notification.NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".actions.ActionReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="volumemixerpanel.action.SHOW_OVERLAY" />
                <action android:name="volumemixerpanel.action.HIDE_OVERLAY" />
                <action android:name="volumemixerpanel.action.TOGGLE_OVERLAY" />
            </intent-filter>
        </receiver>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
</manifest>